.create-dm-msg-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(64, 68, 75);
    width: 95%;
    margin-left: 25px;
    margin-top: 5px;

    border-radius: 8px;
    height: 40px;
    /* background-color: aqua; */
}

.dm-text-input {
    background-color: rgb(64, 68, 75);
    outline: none;
    border: none;
    width: 96%;

}

.dm-s-icon-div {
    color: #5865f2;
    margin-left: 5px;
    font-size: 18px;
}

.dm-s-icon-div:hover {
    filter: brightness(140%);
    cursor: pointer;
}
