/* send regular message bottom box */
.create-rm-msg-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(64, 68, 75);
    width: 95%;
    margin-left: 25px;
    margin-top: 5px;

    border-radius: 8px;
    height: 40px;
}


.rm-text-input {
    background-color: rgb(64, 68, 75);
    outline: none;
    border: none;
    width: 96%;
}

.m-s-icon-div {
    color: #5865f2;
    ;
    /* margin-left: 5px; */
    font-size: 18px;
}

.m-s-icon-div:hover {
    filter: brightness(140%);
    cursor: pointer;
}

.rm-send-error-lists {
    margin-top: -20px;
    /* margin-left:320px ; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 20px;
    width: 97%;
    font-size: 10px;
    color: rgb(8, 157, 216);
    font-weight: 500;
}
