.server-create-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(59, 165, 93);
  font-size: 20px;
  /* margin-left: 25px; */
  /* margin-top: 15px; */
  width: 50px;
  height: 50px;
  background-color: rgb(47, 49, 54);
  border-radius: 50%;
}

.creat-server-form {
  width: 100%;
  height: 86%;
  outline: none;
  overflow: hidden;
  background-color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

}

.creat-sever-title h1 {
  color: rgb(36, 36, 37);
}

.creat-server-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  border-radius: 8px;
  background-color: rgb(242, 243, 245);
}

.creat-server-content {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

}

.creat-sever-title2 {
  color: rgb(165, 168, 173);
  font-size: 18px;
  margin-bottom: 40px;

}

.next-line-p {
  margin-top: -15px;
}

.creat-my-own {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: 0.3px solid rgb(231, 233, 235);
  height: 60px;
  border-radius: 5px;
  margin-bottom: 20px;

}

.creat-my-own img {
  margin-left: 20px;
  width: 55px;
  height: 55px;


}

.creat-my-own-text {
  font-weight: 600;
  margin-left: 10px;
  font-size: 18px;
  color: rgb(36, 36, 37)
}

.creat-server-input {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.s-input-title,
.s-input-title2,
.s-input-title3 {
  color: rgb(107, 113, 121);
  font-size: 15px
}

.s-c-input1 input {
  background-color: rgb(227, 229, 232);
  border: none;
  border-radius: 5px;
  color: rgb(107, 113, 121);
  width: 456px;
  height: 45px;
}

.s-c-input2 input {
  background-color: rgb(227, 229, 232);
  border: none;
  border-radius: 5px;
  color: rgb(107, 113, 121);
  width: 456px;
  height: 45px;
}

.s-c-input3 input {
  background-color: rgb(227, 229, 232);
  border: none;
  border-radius: 5px;
  color: rgb(107, 113, 121);
  width: 456px;
  height: 45px;
}

.create-server-button button {
  background-color: rgb(88, 101, 242);
  color: white;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  font-size: 15px;

}

.create-server-button {
  margin-top: 25px;
  margin-left: 175px;

}

.close-x-img2 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  
}

.mark-logo2 {
  margin-left: 440px;
  margin-top: -55px;
  /* width:30px;
  height: 30px; */
}

.close-x-img2:hover {
  cursor: pointer;
  background-color: rgb(227,229,232);
}

#errors3-list {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20px;
  width: 95%;
  font-size: 10px;
  color: rgb(8, 157, 216);
  font-weight: 500;
  margin-top: -40px;

}
