.main-page-server-members-container {

    background-color: rgb(47, 49, 54);
    position: absolute;
    right: 0;
    width: 240px;
    height: 100%;
    color: white;
    position: fixed;

}

.members-list-title {
    color: #96989D;
    font-size: 12px;
    font-family: "ABC Ginto Normal", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 24px 8px 16px 16px;
}

.members-list-container {
    display: flex;
    flex-direction: column;
}

.single-member-container {
    padding: 4px 8px;
    margin: 0px 8px;
    display: flex;
    flex-direction: row;
    width: 208px;
    height: 42px;
}

.single-member-container:hover {
    border-radius: 4px;
    background-color: #42464d;
    cursor: pointer;
}

.single-member-container #logo-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 4px 4px;
    margin-right: 12px;
}

.review-name {
    font-size: 16px;
    color: rgb(241, 196, 15);
    display: flex;
    align-items: center;
}

/* single member info dropdown ----------------------------------- */
.single-member-dropdown-container {
    position: absolute;
    overflow: auto;
    width: 340px;
    height: 250px;
    /* max-width: 400px; */
    right: -240px;
    padding: 0;
    background-color: white;
    border-radius: 21px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-weight: 300;
    overflow: hidden;
}
