.channel-edit-div {
    /* width: 100%;
    height: 80%;
    outline: none;
    overflow: hidden;
    background-color: rgb(54, 57, 63);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px; */
    background-color: rgb(47, 49, 54);
    display: flex;
    flex-direction: row;
    text-align: flex-start;
    width: 100vw;
    height: 100vh;
    /* border-radius: 8px; */
}

.edit-sideBar-content {
    width: 210px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 40px;
}

.channel-edit-form {
    width: calc(100vw - 240px - 130px);
    height: 100%;
    outline: none;
    overflow: hidden;
    background-color: rgb(54, 57, 63);
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 40px;

}

.edit-right-sideBar {
    background-color: rgb(54, 57, 63);
    height: 100%;
    position: absolute;
    right: 0;
    width: 130px;
}

.e-close-x-img {
    width: 50px;
    height: 60px;
    background-color: rgb(54, 57, 63);
    border-radius: 90%;
    margin-top: 45px;

}

.e-close-x-img:hover {
    cursor: pointer;
    filter: brightness(115%)
}

.c-e-hashtag {
    color: rgb(138, 140, 144);
    font-size: 12px;
    margin-left: -30px;
}

.c-text {
    color: rgb(185, 187, 190);
    margin-left: 5px;
    font-size: 12px;
}

.c-h-t-div {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 25px;
}

.title-overview {
    color: rgb(185, 187, 190);
    /* margin-right: 100px; */
    font-size: 15px;
    background-color: rgb(47, 49, 54);
    margin-bottom: 20px;
    width: 165px;
    height: 25px;
    border-radius: 5px;
    /* align-items: center; */
    padding-top: 5px;
    /* padding-left:15px */
}

.o-title-left {
    margin-left: 5px;
    /* padding-buttom: 10px; */
}

.title-overview:hover {
    background-color: rgb(60, 63, 69);
    cursor: pointer;
}

.Delete-div {
    /* margin-top: px; */
    display: inline-block;
    display: flex;
    width: 166px;
    height: 30px;
    border-radius: 5px;
    /* background-color:rgb(47,49,54) ; */
    color: rgb(185, 187, 190);
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 10px; */
    margin-top: 20px;
    margin-right: -10px;
    /* background-color: aqua; */

}

.Delete-div:hover {
    background-color: rgb(60, 63, 69);
    cursor: pointer;
}

.trash-can-icon {
    color: rgb(185, 187, 190);
    font-size: 12px;
    margin-top: 2px;
    margin-left: 50px;
    /* margin-left: 155px;
    margin-top: -20px; */
}

.delete-text {
    margin-left: 5px;
}

.input-title1 {
    color: rgb(185, 187, 190);
    font-size: 13px;
    margin-bottom: 10px;
}

.input-content-1 input {
    width: 100%;

}

.input-title2 {
    color: rgb(185, 187, 190);
    font-size: 13px;
    margin-bottom: 10px;
}

.input-content-2 input {
    width: 100%;
    height: 60px;
}

.input-content-2 {
    margin-bottom: 20px;
    width: 90%;
    /* background-color: aqua; */
    height: 100px;
    border-bottom: 0.3px solid rgb(66, 70, 77);
}

.input-content-1 {
    margin-bottom: 20px;
    width: 90%;
    /* background-color: aqua; */
    height: 80px;
    border-bottom: 0.3px solid rgb(66, 70, 77);
}

.sideBar-text {
    /* background-color: aqua; */
    border-bottom: 0.3px solid rgb(66, 70, 77);
    height: 100px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.editedChannel-button {
    margin-top: 20px;
}

.e-c-button {
    background-color: rgb(33, 91, 50);
    width: 110px;
    height: 40px;
    border-radius: 5px;
    color: white;
    /* padding:5px */
    position: absolute;
    right: 13vw;
}

.e-b-img {
    margin-top: 30px;
    background-color: rgb(54, 57, 63);
    align-items: center;
}

.buttom-img {
    width: 400px;
    height: 300px;
    margin-left: 20vw;
}
