.single-server-logo {
    margin-bottom: 6px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.single-server-logo:hover {
    /* background-color: rgb(88, 101, 242); */
    border-radius: 35%;
}
