/* Section 1 */

.home-page-section-1 {
    background-color: #5865f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../img/home-page/1-0.png);
    background-size: 2560px 626px;
    width: 100%;
    /* object-fit: cover;

    position: absolute;
    top: 0; */
    /* left: 50% */
}

.hps1-nav-bar-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1180px;
    height: 80px;
}

.hps1-nav-bar-section-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 115px;
    height: 34px;
}

.hps1-nav-bar-section-left #logo-img {
    width: 30px;
    height: 30px;
}

.hps1-nav-bar-section-left #logo-name {
    font-family: "Ginto Nord", "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 21px;
    font-weight: 700;
    color: #FFFFFF;

}

.hps1-word-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1180px;
    height: 279px;
    padding: 120px 40px 120px 40px
}

.hps1-word-section-title {
    font-family: "Ginto Nord", "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 58px;
    font-weight: 1000;
    color: #FFFFFF;
    width: 714px;
    text-align: center;
}


#section-content {
    font-size: 20px;
    font-family: "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.hps1-word-section #section-content {
    color: #FFFFFF;
    width: 714px;
    height: 100px;
    margin-top: 40px;
    text-align: center;
}

/* .hps1-img-background {
    background-image: url(../../img/home-page/1-0.png);
    display: none;
    position: absolute;
    top: 0;
    left: 50%
} */


/* background-image: url(../../img/home-page/1-0.png);
    background-size: 2560px 626px; */

.home-page-section-2-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#s2,
#s4 {
    background-color: #FFFFFF;
}

#s3 {
    background-color: #F6F6F6;
}

.home-page-section-2,
.home-page-section-3,
.home-page-section-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1180px;
    height: 440px;
    padding: 120px 40px;
    color: #23272A
}

#sec-img {
    width: 678px;
    height: 440px;
}

#section-container {
    width: 380px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section-container h2 {
    font-size: 50px;
    font-family: "Ginto Normal", "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 120%;
    font-weight: 700;
}

.home-page-section-2 #section-content,
.home-page-section-3 #section-content,
.home-page-section-4 #section-content {
    color: #23272A;
    line-height: 1.625;
    margin-top: 24px;
}


/* section 5 */
.home-page-section-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
}

.home-page-section-5-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1180px;
    height: 858.55px;
    padding: 120px 40px 80px 40px;
    text-align: center;
}

.home-page-section-5-inner h2 {
    font-size: 50px;
    color: #23272A;
    font-family: "Ginto Nord", "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 800;
    /* line-height: 95%; */
    margin-top: 0px;
    margin-bottom: 0px;
    width: 980px;
}

.home-page-section-5-inner #section-content {
    width: 980px;
    margin-top: 24px;
    line-height: 1.625;
}

#sec-img {
    width: 1180px;
    height: 700px;
    padding-top: 16px;
    max-width: 100%;
    height: auto;
}
