
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-image: url('../../../img/l-s-b\ .png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.login-form {
    background-color: rgb(54, 57, 63);
    border-radius: 8px;
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.welcome-title {
    color: white;
    font-size: 16px;

}

.welcome-content {
    color: rgb(100, 102, 107);
    font-size: 14px;
    margin-top: -15px;
}

.error-lists {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 10px;
    width: 95%;
    font-size: 10px;
    color: rgb(8, 157, 216);
    font-weight: 500;
    margin-left: 130px;
}

.e-p-input-div {
    margin-top: 10px;
    /* background-color: bisque; */
    display: inline-block;

}

.e-font {
    position: relative;
    margin-right: 340px;
    color: rgb(159, 161, 165);
    font-size: 13px;
    margin-bottom: 10px;
}

.e-p-input-div input {
    position: relative;
    /* background-color: antiquewhite; */
    margin-right: 195px;
    width: 98.5%;
    height: 33px;
    border-radius: 8px;
    background-color: black;
    border-color: rgb(54, 57, 63);
}

.p-font {
    position: relative;
    color: rgb(159, 161, 165);
    font-size: 13px;
    margin-bottom: 10px;
    margin-right: 305px;
}

.login-button button {
    margin-top: 25px;
    background-color: rgb(88, 101, 242);
    color: white;
    width: 100%;
    height: 40px;
    margin-left: px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 25px;
}

.link-register>span {
    color: rgb(100, 102, 107);
    font-size: 15px;
    margin-left: 40px;

}

.link-register {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px
}

/* .Demo-button{

} */
